<ion-header>
  <ion-toolbar>
    <ion-title>New List</ion-title>
    <ion-icon name="close" slot="end" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <ion-item>
      <ion-textarea placeholder="Add New Task">
      </ion-textarea>
    </ion-item>
  
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button class="ion-margin ion-justify-content-center">
          Add Task
          </ion-button>
      </ion-col>
    </ion-row>
   
  </ion-card>
</ion-content>
